# ==============================================================================
# HUGGING FACE CONFIGURATION
# ==============================================================================
HF_TOKEN="INSERT YOUR HUGGING FACE TOKEN HERE"